.foodCard h5 {
  font-size: 20px;
}

.foodCard {
  background-color: #e8f1f2;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgb(212, 217, 219);
}
.foodCard:hover {
  box-shadow: none;
}

.foodCard img {
  height: 220px;
  border-radius: 10px;
}

.card__bottom {
  align-items: center;
  padding: 15px 10px;
}

.card__bottom a {
  color: #fff !important;
}

.card__bottom a:hover {
  color: #fff !important ;
  text-decoration: none;
}

.price {
  font-size: 25px;
  font-weight: 500;
  color: green;
}

@media (max-width: 567px) {
  .foodCard img {
    height: 300px;
  }
  .foodCard h5 {
    font-size: 25px;
  }
}
