.product {
  border-radius: 10px !important;
  padding: 10px 20px !important;
}

.color {
  background-color: #727477;
  color: #fff;
}

.product_table .table,
tr,
th,
td,
thead,
tbody {
  border: none !important;
}
