.edit,
.delete {
  color: #fff !important;
  padding: 5px 8px !important;
  margin: 5px;
}
.edit {
  background-color: green !important;
}

.delete {
  background-color: red !important;
}

tr td {
  font-size: 18px;
}

@media screen and (max-width: 400px) {
  .edit,
  .delete {
    padding: 3px 5px !important;
    font-size: 10px;
  }
}
